/* Colors used throughout:
#17172f; - dark blue
#88376d; - dark pink
#c6615c; - orange-red
#feb253; - orange
#e8c47b; - beige
*/

.nav {
  text-align: center;
}

.margin12 {
  margin-left: 12%;
  margin-right: 12%;
}

header {
  background-color: #c6615c;
}

.panov2 {
  visibility: collapse;
  display: none;
}

.panov3 {
  visibility: collapse;
  display: none;
}

@media only screen and (min-width: 48em) {
  .nav {
    float: right;
  }

  .panov1 {
    visibility: collapse;
    display: none;
  }

  .panov2 {
    visibility: visible;
    display: block;
  }
}

@media only screen and (min-width: 86em) {
  .panov2 {
    visibility: collapse;
    display: none;
  }

  .panov3 {
    visibility: visible;
    display: block;
  }
}
