.nav {
  text-align: center;
}

header {
  background-color: grey;
}

.panov2 {
  visibility: collapse;
  display: none;
}

.panov3 {
  visibility: collapse;
  display: none;
}

@media only screen and (min-width: 48em) {
  .nav {
    float: right;
  }

  .panov1 {
    visibility: collapse;
    display: none;
  }

  .panov2 {
    visibility: visible;
    display: block;
  }
}

@media only screen and (min-width: 86em) {
  .panov2 {
    visibility: collapse;
    display: none;
  }

  .panov3 {
    visibility: visible;
    display: block;
  }
}
